HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/resources/webapp/bookstore-app/node_modules/
/src/main/resources/webapp/bookstore-app/.browserslistrc
/src/main/resources/webapp/bookstore-app/.editorconfig
/src/main/resources/webapp/bookstore-app/angular.json
/src/main/resources/webapp/bookstore-app/karma.conf.js
/src/main/resources/webapp/bookstore-app/package.json
/src/main/resources/webapp/bookstore-app/package-lock.json
/src/main/resources/webapp/bookstore-app/README.md
/src/main/resources/webapp/bookstore-app/tsconfig.app.json
/src/main/resources/webapp/bookstore-app/tsconfig.json
/src/main/resources/webapp/bookstore-app/tsconfig.spec.json
/src/main/resources/webapp/bookstore-app/.angular/cache/14.2.9/
/src/main/resources/webapp/bookstore-app/node_modules_/
